* {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

html {
    margin: 0;
}

body {
    text-align: center;
    background: url('Images/Background.jpg');
    background-color: black;
    background-attachment: fixed;
    color: rgb(255, 153, 0);
}

body::-webkit-scrollbar {
    width: 1em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgb(255, 153, 0);
}
 
body::-webkit-scrollbar-thumb {
    background-color: rgb(255, 153, 0);
}

h1 {
    margin-top: 40%;
    font-family: 'Bevan', cursive;
    font-size: 26px;
}

h2 {
    font-family: 'Spectral SC', serif;
}

h3 {
    font-family: 'Spectral', serif;
    color: black;
}

p {
    font-family: 'Spectral', serif;
    font-size: 18px;
}

.landing-page {
    font-size: 12px;
}

button {
    cursor: pointer;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

fieldset {
    border: none;
}

.top-bar {
    position: fixed;
    background-color: rgb(255, 153, 0);
    width: 100%;
    height: 50px;
    top: 0%;
    overflow-x: hidden;
    box-shadow: 0 4px 3px 0 rgb(54, 54, 54);
}

#js-search-term {
    font-family: 'Spectral SC', serif;
    width: 90%;
    background-color: rgb(255, 232, 155);
    border: 2px solid rgb(255, 153, 0);
    border-radius: 50px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}

#search-button {
    margin-left: -40px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
    background: rgb(255, 153, 0);
    border:none;
    box-shadow: 0 0 10px #000000;
    transition-property: background;
    transition-duration: 1s;
    transition-timing-function: linear;
}

#search-button:active {
    transform: translateY(2px);
}

#search-button:hover {
    background: #eeff00;
}

form {
    position: flex;
    display:inline;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#js-content {
    margin-top: 20%;
}

#js-content h2 {
    font-size: 24px;
}

#js-content h3 {
    color: red;
    font-size: 24px;
}

.cardImage {
    width: 70%;
    height: 90%;
    border: 2px solid rgb(61, 61, 61);
}

.gb-content {
    width: 70%;
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 5%;
    color: black;
    border: 2px solid rgb(61, 61, 61);
    background-color: rgb(255, 180, 67);
    -moz-box-shadow:    inset 0 0 20px #000000;
    -webkit-box-shadow: inset 0 0 20px #000000;
    box-shadow:         inset 0 0 20px #000000;
}

.youtube-container {
    margin-top: 5%;
    width: 70%;
    border: 1px solid black;
    overflow: scroll;
    display: flex;
    margin-bottom: 5%;
    background-color: rgb(255, 180, 67);
    -moz-box-shadow:    inset 0 0 20px #000000;
    -webkit-box-shadow: inset 0 0 20px #000000;
    box-shadow:         inset 0 0 20px #000000;
}

.youtube {
    margin-left: 5%;
    margin-right: 5%;
}

.youtube-video {
    margin-top: 3.5px;
    border: 1px solid rgb(61, 61, 61);
    box-shadow: 0 0 10px #000000;
}

.twitch-container {
    margin-top: 5%;
    width: 70%;
    border: 1px solid black;
    margin-bottom: 10%;
    overflow: scroll;
    display: flex;
    background-color: rgb(255, 180, 67);
    -moz-box-shadow:    inset 0 0 20px #000000;
    -webkit-box-shadow: inset 0 0 20px #000000;
    box-shadow:         inset 0 0 20px #000000;
}

.twitch {
    margin-right: 5%;
    margin-left: 5%;
}

.twitch-video {
    margin-top: 3.5px;
    border: 1px solid rgb(61, 61, 61);
    box-shadow: 0 0 10px #000000;
}

@media only screen and (min-width: 760px) {
    h1 {
        margin-top: 175px;
        font-size: 38px;
    }

    h2 {
        font-size: 24px;
        padding: 20px;
    }

    form {
        width: 60%;
    }

    .top-bar {
        height: 70px;
    }

    #js-search-term {
        padding-left: 20px;
        margin-top: 20px;
    }

    #js-search-term, #search-button {
        font-size: 20px;
    }

    #search-button {
        margin-left: -50px;
    }

    .youtube-video, .twitch-video {
        height: 250px;
        width: 350px;
    }
}

@media only screen and (min-width: 1024px) {
    
    h1 {
        margin-top: 15%;
        font-size: 50px;
    }
    
    form {
        width: 70%;
    }

    #js-search-term {
        padding-left: 25px;
    }

    #js-search-term, #search-button {
        font-size: 25px;
    }

    #search-button {
        padding-left: 7px;
        padding-right: 7px;
        margin-left: -55px;
    }

    #js-content {
        margin-top: 10%;
    }

    .cardImage {
        width: 350px;
        height: 450px;
        border: 5px solid rgb(61, 61, 61);
    }

    .gb-items {
        display: flex;
        margin-bottom: 5%;
    }

    .gb-image {
        width: 30%;
        height: 450px;
        margin-left: 15%;
    }

    .deck {
        font-size: 20px;
    }

    #js-content h2 {
        font-size: 36px;
    }

    .gb-content {
        font-size: 20px;
        margin-top: 0;
        margin-left: 5%;
        margin-right: 15%;
        height: 450px;
        width: 70%;
        margin-bottom: 10px;
        padding: 2%;
        border: 5px solid rgb(61, 61, 61);
    }

    .youtube-container::-webkit-scrollbar {
        width: 1em;
    }   
 
    .youtube-container::-webkit-scrollbar-thumb {
        background-color: rgb(255, 153, 0);
        border: 2px solid black;
        border-radius: 10px;
    }

    .youtube-container::-webkit-scrollbar-corner {
        display: none;
    }
    
    .twitch-container::-webkit-scrollbar {
        width: 1em;
    }
     
    .twitch-container::-webkit-scrollbar-thumb {
        background-color: rgb(255, 153, 0);
        border: 2px solid black;
        border-radius: 10px;
    }
    
    .twitch-container::-webkit-scrollbar-corner {
        display: none;
    }
}