* {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

html {
    margin: 0;
}

body {
    text-align: center;
}

h1 {
    margin-top: 40%;
}

button {
    cursor: pointer;
}

.top-bar {
    position: fixed;
    background-color: black;
    width: 100%;
    height: 7%;
    top: 0%;
    overflow-x: hidden;
}

#js-search-term {
    width: 70%;
    border: 1px solid black;
    padding-top: 5px;
    padding-bottom: 5px;
}

#search-button {
    margin-left: -10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
    border: 1px solid black;
}

form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#js-content {
    margin-top: 20%;
}

.cardImage {
    width: 70%;
    height: 90%;
    border: 1px solid black;
}

.gb-content {
    width: 70%;
    height: 350px;
    margin-top: 10%;
    border: 1px solid black;
    background-color: lightgray;
}

.youtube-container {
    margin-top: 5%;
    width: 70%;
    border: 1px solid black;
    overflow: scroll;
    display: flex;
    margin-bottom: 5%;
}

.youtube {
    margin-left: 5%;
    margin-right: 5%;
}

.youtube-video {
    border: 1px solid gray;
}

.twitch-container {
    margin-top: 5%;
    width: 70%;
    height: 200px;
    border: 1px solid black;
    margin-bottom: 10%;
    overflow: scroll;
    display: flex;
}

.twitch {
    margin-right: 5%;
    margin-left: 5%;
}

@media only screen and (min-width: 760px) {
    form {
        width: 60%;
    }

    #js-search-term, #search-button {
        font-size: 20px;
    }
}

@media only screen and (min-width: 1024px) {
    
    h1 {
        margin-top: 15%;
        font-size: 50px;
    }
    
    form {
        width: 70%;
    }

    #js-search-term, #search-button {
        font-size: 25px;
    }

    #js-content {
        margin-top: 15%;
    }

    .cardImage {
        width: 350px;
        height: 450px;
    }

    .gb-image {
        float: left;
        width: 30%;
        height: 450px;
        margin-left: 15%;
    }

    .deck {
        font-size: 20px;
    }

    .gb-content {
        height: 450px;
        width: 70%;
        margin-bottom: 5%;
        border: none;
        background-color: white;
    }

    .youtube-video {
        width: 350px;
    }
}